Dados/UCI/README.txt
Dados/UCI/features_info.txt
Dados/UCI/activity_labels.txt
Dados/UCI/features.txt
Dados/UCI/subject_train.txt
Dados/UCI/X_test.txt
Dados/UCI/subject_test.txt
Dados/UCI/X_train.txt
Dados/UCI/y_test.txt
Dados/UCI/y_train.txt
credit_scoring_1.ftr
credit_scoring.ftr
online_shoppers_intention.csv
previsao_de_renda_II.csv.zip
X_test.ftr
y_train.ftr
Dados/previsao_de_renda_II.csv
